
<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- breadcumbs -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- sistema de rutas  -->
                         <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
        </div>
        <footer class="footer text-center">
            © 2022 Admin Pro by PS_47
        </footer>
    </div>
</div>