<div class="row">
  <div class="col-6">
    <app-doughnut
      [dataDoughnut]="data1"
      [title]="title1"
      [labelsDoughnut]="labels1"
      [colorArray]="colorArray1"
      ></app-doughnut>
    </div>

  <div class="col-6">
    <app-doughnut
    [dataDoughnut]="data2"
      [title]="title2"
      [labelsDoughnut]="labels2"
      [colorArray]="colorArray2"
      ></app-doughnut>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-doughnut
    [dataDoughnut]="data3"
      [title]="title3"
      [labelsDoughnut]="labels3"
      [colorArray]="colorArray3"></app-doughnut>
  </div>

  <div class="col-6">
    <app-doughnut
    [dataDoughnut]="data4"
      [title]="title4"
      [labelsDoughnut]="labels4"
      [colorArray]="colorArray4"></app-doughnut>
  </div>
</div>
